<div class="form" fxLayout="column">
  <h1>Sign In</h1>
  <mat-form-field fxFlex appearance="outline">
    <mat-label>E-Mail</mat-label>
    <input type="text" matInput [(ngModel)]="email" />
  </mat-form-field>
  <mat-form-field fxFlex appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" matInput [(ngModel)]="password" />
  </mat-form-field>
  <div class="actions" fxFlex>
    <button mat-button class="sign-up-button" (click)="onSignUp()">
      Sign Up
    </button>
    <button
      mat-raised-button
      color="primary"
      class="sign-in-button"
      (click)="onSignIn()"
    >
      Sign In
    </button>
  </div>
</div>
