.card {
  border: 1px solid #dadada;
  padding: 10px;
}

.title {
  font-weight: 400;
  font-size: 24px;
}

input.title {
  border: none;
  margin: 0px;
  padding: 0px;
}

.content {
  font-size: 20px;
  font-weight: 400;
  color: #5b5b5b;
}

.icon {
  color: #5b5b5b;
}
