<div class="card" fxLayout="row">
  <div fxFlex fxLayout="column" fxLayoutGap="5px">
    <span *ngIf="!editMode" class="title">{{ todo.title }}</span>
    <input
      *ngIf="editMode"
      matInput
      type="text"
      class="title"
      [(ngModel)]="todo.title"
    />

    <span class="content">{{ todo.description }}</span>
  </div>
  <div class="actions">
    <button *ngIf="editMode" mat-icon-button (click)="onSave()">
      <mat-icon class="icon material-icons-outlined">save</mat-icon>
    </button>
    <button *ngIf="!editMode" mat-icon-button (click)="onEdit()">
      <mat-icon class="icon material-icons-outlined">edit</mat-icon>
    </button>
    <button mat-icon-button (click)="onDelete()">
      <mat-icon class="icon material-icons-outlined">delete</mat-icon>
    </button>
  </div>
</div>
