<div fxLayout="row">
  <h1 fxFlex>Todos</h1>

  <div>
    <button
      *ngIf="!showAddTodoForm"
      mat-raised-button
      color="primary"
      (click)="showAddTodoForm = true"
    >
      New Todo
    </button>
  </div>
</div>

<div *ngIf="showAddTodoForm" class="create-todo" fxLayout="column">
  <div fxLayout="row" fxLayoutGap="20px">
    <mat-form-field appearance="outline" fxFlex="30%">
      <mat-label>Title</mat-label>
      <input type="text" matInput [(ngModel)]="title" />
    </mat-form-field>
    <mat-form-field appearance="outline" fxFlex>
      <mat-label>Description</mat-label>
      <input type="text" matInput [(ngModel)]="description" />
    </mat-form-field>
  </div>
  <div class="actions">
    <button mat-button (click)="showAddTodoForm = false">Cancel</button>
    <button mat-raised-button color="primary" class="add-todo-button">
      Add Todo
    </button>
  </div>
</div>

<div class="todolist" fxLayout="column" fxLayoutGap="20px">
  <app-todo *ngFor="let todo of todos" [todo]="todo"></app-todo>
</div>
